Audit Tracker_Dennis Paul Audit Firm.json
{
  "name": "Audit Tracker_Dennis Paul Audit Firm",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -5040,
        1056
      ],
      "id": "8bee3427-5cc8-40d0-8b44-a41ba532d10b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1OkFmTgnBPrx69lwRf5GC3T-HrAgAmK-HHxsOGlasEIk/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Audit tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OkFmTgnBPrx69lwRf5GC3T-HrAgAmK-HHxsOGlasEIk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -4816,
        1056
      ],
      "id": "ed83ca2e-8a51-45c9-b238-c25289e11044",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ifj90yeEuG86jr04",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "882b0ed4-d537-459c-915d-ba413fcd7af9",
              "name": "overdue",
              "value": "={{ Math.floor((Date.now() - new Date($json['Due Date']).getTime()) / 86400000) > 0 ? 'true' : 'false' }}",
              "type": "string"
            },
            {
              "id": "983901a7-6137-4836-ba23-d7763aa47f66",
              "name": "Days Pending",
              "value": "={{ Math.floor((Date.now() - new Date($json['Due Date']).getTime()) / 86400000) }}",
              "type": "number"
            },
            {
              "id": "5947f404-aad1-4960-add2-397d07480216",
              "name": "days_label",
              "value": "={{ Math.floor((Date.now() - new Date($json['Due Date']).getTime()) / 86400000) > 0 ? Math.floor((Date.now() - new Date($json['Due Date']).getTime()) / 86400000) + ' days overdue' : Math.floor((Date.now() - new Date($json['Due Date']).getTime()) / 86400000) === 0 ? 'Due today' : Math.abs(Math.floor((Date.now() - new Date($json['Due Date']).getTime()) / 86400000)) + ' days remaining' }}",
              "type": "string"
            },
            {
              "id": "423bc8b8-d58c-4b19-a65c-af7dc6fba346",
              "name": "Client id",
              "value": "={{ $('Get row(s) in sheet').item.json['Client ID'] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4368,
        1056
      ],
      "id": "b3bf57dd-25a4-44fd-be70-c40a6d78cc7f",
      "name": "Calculate Days Overdue"
    },
    {
      "parameters": {
        "model": "devstral-medium-latest",
        "options": {
          "maxTokens": 200,
          "temperature": 0.2,
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -3696,
        1472
      ],
      "id": "19505cd0-cefd-49f1-b3e4-c3fde9479822",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "xaqQtmcw1EwDMAsV",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $now }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -3440,
        656
      ],
      "id": "97386721-dade-4f96-bd87-a26f20d0a327",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"client\": \"Ado Products Ltd\",\n  \"document\": \"Bank Statements\",\n  \"days_pending\": 5,\n  \"risk_level\": \"Medium\",\n  \"recommended_action\": \"Send follow-up reminder to client\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -3312,
        1472
      ],
      "id": "68d974f4-5e85-4b18-9373-fe53d6ecc9c2",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Classifier Agent').item.json.output.risk_level }}",
                    "rightValue": "Low",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1223af63-ef87-47a7-8445-fafc30040d1e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Low"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7d779dac-60ca-44de-9b8a-2e833cec6394",
                    "leftValue": "={{ $('Classifier Agent').item.json.output.risk_level }}",
                    "rightValue": "Medium",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Medium"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4d2cdab0-8142-4e86-9aee-24afa9a2a6b8",
                    "leftValue": "={{ $('Classifier Agent').item.json.output.risk_level }}",
                    "rightValue": "High",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "High"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -4048,
        704
      ],
      "id": "cacd9cd8-6f6f-4ced-a7c8-671f2709eb92",
      "name": "Route by Risk Level"
    },
    {
      "parameters": {
        "jsCode": "return items.map((item, i) => ({\n  ...item,\n  json: {\n    ...item.json,\n    row_id: i + 1,\n    normalized_due: new Date(item.json['Due Date']).toISOString()\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4592,
        1056
      ],
      "id": "c0ff0dc1-a47b-4061-be76-c2ac45e020ca",
      "name": "Pre-process Rows"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -4144,
        1056
      ],
      "id": "c08808a6-c16d-4c98-bfc9-bf7fdfadfd68",
      "name": "Row Iterator"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6f24e4cf-dad7-4377-9b2c-9b9d46ec1773",
              "leftValue": "={{ $json['Days Pending'] }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3920,
        1056
      ],
      "id": "4300c206-7a82-4a56-962f-db808a74eff5",
      "name": "Is Overdue?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following audit delay.\n\nClient: {{ $('Get row(s) in sheet').item.json['Client Name'] }}\nDocument: {{ $('Get row(s) in sheet').item.json['Document Requested'] }}\nDays Pending: {{ $json['Days Pending'] }}\nClassify the risk and return ONLY this JSON:\n{\n  \"client\": \"client name here\",\n  \"document\": \"document name here\",\n  \"days_pending\": 0,\n  \"risk_level\": \"Low\",\n  \"recommended_action\": \"brief action here\"\n}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are a risk classification assistant for an audit firm in Kenya.\n\nYou receive details about an overdue audit document and you classify the delay risk.\n\nRules:\n1. Low risk: 1 to 5 days overdue\n2. Medium risk: 6 to 14 days overdue\n3. High risk: 15 or more days overdue\n4. If Days Pending is 0 or negative, classify as Low\n\nReturn ONLY this exact JSON structure. No explanation. No markdown. No code blocks:\n{\n  \"client\": \"client name here\",\n  \"document\": \"document name here\",\n  \"days_pending\": 0,\n  \"risk_level\": \"Low\",\n  \"recommended_action\": \"brief action here\"\n}\n\nrisk_level must be exactly one of: Low, Medium, High"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -3600,
        1248
      ],
      "id": "7f337f29-44b2-42d2-b3bd-0d5736f6c7d1",
      "name": "Classifier Agent",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $now }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -3440,
        1472
      ],
      "id": "6bdf1c80-6ee0-4467-8e23-dfc8f410f6d2",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a {{ $('Classifier Agent').item.json.output.risk_level }} \nrisk reminder email for client \n{{ $('Classifier Agent').item.json.output.client }} \nregarding their overdue document: \n{{ $('Classifier Agent').item.json.output.document }}. \nIt is {{ $('Classifier Agent').item.json.output.days_pending }} \ndays overdue. \nRecommended action: \n{{ $('Classifier Agent').item.json.output.recommended_action }}.Write the email as continuous flowing paragraphs. Do not add a line break after every word or phrase.",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are an email writing assistant for Dennis Paul and Associates, \na Nairobi audit firm. Write professional client reminder emails. \nAdjust tone by risk level: Low = friendly and brief, Medium = firm \nand urgent, High = formal escalation requiring immediate action. \nAlways close with: Warm regards, Dennis Paul and Associates, \nNairobi, Kenya.Return only a JSON object with two fields: subject and body. The body must be written as continuous flowing prose with no line breaks."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -3600,
        432
      ],
      "id": "9691a739-8774-4e3d-9bf9-b30c2c667b96",
      "name": "Email Drafter Agent1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "42baa6e0-782f-448b-b8f6-ac7f523575f2",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2496,
        640
      ],
      "id": "7c7b1267-a85c-4ff8-b9f4-49fe5adfea3d",
      "name": "Approved?"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get row(s) in sheet').item.json['Client Email'] }}",
        "subject": "={{ $('Classifier Agent').item.json.output.risk_level }} Risk: Audit Document Reminder — {{ $('Classifier Agent').item.json.output.document }}",
        "message": "={{ $('Email Drafter Agent1').item.json.output.properties.body.description }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -2272,
        640
      ],
      "id": "fd6b3126-eb43-402e-8a7a-7482fc51c54b",
      "name": "Send Client Email",
      "webhookId": "89af460f-b96e-407a-ba91-577da915df36",
      "credentials": {
        "gmailOAuth2": {
          "id": "pEp1Idi32ay9vW6a",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "leilahkokoyo@gmail.com",
        "subject": "=Approval Needed: {{ $('Route by Risk Level').item.json.output.risk_level }} Risk — {{ $('Route by Risk Level').item.json.output.client }}",
        "message": "=APPROVAL REQUIRED — Audit Email Review\n\nClient: {{ $('Classifier Agent').item.json.output.client }}\nDocument: {{ $('Classifier Agent').item.json.output.document }}\nRisk Level: {{ $('Classifier Agent').item.json.output.risk_level }}\nDays Overdue: {{ $('Classifier Agent').item.json.output.days_pending }}\n\nDRAFTED EMAIL:\n{{ $json.output.properties.body.description }}\n\n---\n✅ APPROVE — send this email to the client:\n{{ $execution.resumeUrl }}?approved=yes\n\n❌ REJECT — discard without sending:\n{{ $execution.resumeUrl }}?approved=no",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -2816,
        624
      ],
      "id": "198d78bf-bfab-4a30-9925-d612e333d091",
      "name": "Send message and wait for response",
      "webhookId": "a182485c-90eb-47c5-8467-0fdb35b96bbb",
      "credentials": {
        "gmailOAuth2": {
          "id": "pEp1Idi32ay9vW6a",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c3617be-0be0-4fb4-be98-bab7f4f08495",
              "name": "Email",
              "value": "={{ $('Get row(s) in sheet').item.json['Client Email'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3008,
        704
      ],
      "id": "85b656b4-22ae-4b4f-9557-2d4ed82e0e21",
      "name": "Email backup"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1OkFmTgnBPrx69lwRf5GC3T-HrAgAmK-HHxsOGlasEIk/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1838362895,
          "mode": "list",
          "cachedResultName": "Audit workflowlog",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OkFmTgnBPrx69lwRf5GC3T-HrAgAmK-HHxsOGlasEIk/edit#gid=1838362895"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Document Requested": "={{ $('Get row(s) in sheet').item.json['Document Requested'] }}",
            "Days Pending": "={{ $('Classifier Agent').item.json.output.days_pending }}",
            "Risk Level": "={{ $('Classifier Agent').item.json.output.risk_level }}",
            "Client ID": "={{ $('Get row(s) in sheet').item.json['Client ID'] }}",
            "Client Name": "={{ $('Get row(s) in sheet').item.json['Client Name'] }}",
            "Client Email": "={{ $('Get row(s) in sheet').item.json['Client Email'] }}",
            "Due Date": "={{ $('Classifier Agent').item.json.output.days_pending }}",
            "Reminder Sent": "YES",
            "Decision Source": "AI Classifier",
            "Last Reminder Date": "={{ $now }}",
            "Status": "={{ $json.labelIds[1] }}"
          },
          "matchingColumns": [
            "Client ID"
          ],
          "schema": [
            {
              "id": "Client ID",
              "displayName": "Client ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Client Email",
              "displayName": "Client Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Document Requested",
              "displayName": "Document Requested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Days Pending",
              "displayName": "Days Pending",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk Level",
              "displayName": "Risk Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reminder Sent",
              "displayName": "Reminder Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Decision Source",
              "displayName": "Decision Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Reminder Date",
              "displayName": "Last Reminder Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2048,
        640
      ],
      "id": "c8c13681-77e1-45e0-b42a-437c7383dea3",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ifj90yeEuG86jr04",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1000,
          "temperature": 0.3,
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -3568,
        1472
      ],
      "id": "5fe346ed-1c3b-4044-8082-3f07223d8420",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "6qPJ8G2NVdbl7fgD",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "magistral-medium-latest",
        "options": {
          "maxTokens": 1000,
          "temperature": 0.3,
          "maxRetries": 2,
          "safeMode": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -3232,
        1680
      ],
      "id": "593d4100-522f-4c9a-9a46-aa9846e44ec2",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "xaqQtmcw1EwDMAsV",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "model": "magistral-medium-latest",
        "options": {
          "maxTokens": 1000,
          "temperature": 0.3,
          "maxRetries": 2,
          "safeMode": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -3696,
        656
      ],
      "id": "21fd383d-d12c-4058-976f-5a0ffc4b7fef",
      "name": "Mistral Cloud Chat Model2",
      "credentials": {
        "mistralCloudApi": {
          "id": "xaqQtmcw1EwDMAsV",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1000,
          "temperature": 0.3,
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -3568,
        656
      ],
      "id": "afb13dc3-c684-4c66-bd17-a75a534d4647",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "6qPJ8G2NVdbl7fgD",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 576,
        "color": "#63BCF2"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5056,
        1024
      ],
      "typeVersion": 1,
      "id": "c26d7852-5d65-4b46-8d78-e3fbc5ca4f57",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 560,
        "width": 784,
        "color": "#67E493"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4448,
        768
      ],
      "id": "f8d7691d-a0bf-4efc-bb82-e497bdb03b6e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "height": 512,
        "width": 688
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3712,
        1184
      ],
      "id": "eed4bac5-1fa5-4fbf-adc8-0d5da23dcde3",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "",
        "height": 384,
        "width": 432,
        "color": "#C187E8"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3680,
        400
      ],
      "id": "84ccb867-62df-4a4f-86f8-f2c1af6ffe03",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "",
        "height": 288,
        "width": 720,
        "color": "#FBB36F"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3072,
        592
      ],
      "id": "247288f7-efeb-448b-9d12-c0afa73ec217",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "",
        "height": 224,
        "width": 528,
        "color": "#F87C7C"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2304,
        592
      ],
      "id": "a1c36e7f-1732-42ef-8a79-c1db29264144",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"subject\": {\n      \"type\": \"string\",\n      \"description\": \"The email subject line\"\n    },\n    \"body\": {\n      \"type\": \"string\",\n      \"description\": \"The full email body as one continuous flowing paragraph. No line breaks.\"\n    }\n  },\n  \"required\": [\"subject\", \"body\"]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -3312,
        656
      ],
      "id": "a68a60c4-7188-4ced-9ea7-53ea9f2b3d1d",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": "devstral-medium-latest",
        "options": {
          "maxTokens": 1000,
          "temperature": 0.3,
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -3232,
        864
      ],
      "id": "0fc593f2-1c1c-47b6-bd11-52ddba53df84",
      "name": "Mistral Cloud Chat Model3",
      "credentials": {
        "mistralCloudApi": {
          "id": "xaqQtmcw1EwDMAsV",
          "name": "Mistral Cloud account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Pre-process Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Days Overdue": {
      "main": [
        [
          {
            "node": "Row Iterator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classifier Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Classifier Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Route by Risk Level": {
      "main": [
        [
          {
            "node": "Email Drafter Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Drafter Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Drafter Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-process Rows": {
      "main": [
        [
          {
            "node": "Calculate Days Overdue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Row Iterator": {
      "main": [
        [
          {
            "node": "Route by Risk Level",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Overdue?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Overdue?": {
      "main": [
        [
          {
            "node": "Classifier Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classifier Agent": {
      "main": [
        [
          {
            "node": "Row Iterator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Drafter Agent1": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email backup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Send Client Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Client Email": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email backup": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classifier Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Email Drafter Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Classifier Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Email Drafter Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Email Drafter Agent1",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        []
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Email Drafter Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "UN8lWZioqC7WZCsN",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "56b772ac-588c-46fb-a45f-68c46ee83285",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "975f78da46fcb2adb6a4361b0f4c48590317b39d5cfa9e6048547f53814bbbc6"
  },
  "id": "ZUfvQygtJByYO7Z5",
  "tags": []
}
